<!--    //this will be read as javascript but this jac=vascript will not work as frontend but as backend -->
<% const name='mario' %>
    <nav>
        <div class="site-title">
            <!-- <p>
                <%= name %>
            </p>  //for output put = sign -->
            <a href="/">
                <h1>Blogs </h1>
            </a>
            <p> A Collection of Blogs</p>

        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>